[submodule "i3/bumblebee-status"]
	path = i3/bumblebee-status
	url = git://github.com/tobi-wan-kenobi/bumblebee-status
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "i3/i3lock-fancy-multimonitor"]
	path = i3/i3lock-fancy-multimonitor
	url = https://github.com/renatoagomes/i3lock-fancy-multimonitor.git
[submodule "i3/i3-gaps"]
	path = i3/i3-gaps
	url = https://www.github.com/Airblader/i3.git
[submodule "vim/bundle/php-vim"]
	path = vim/bundle/php-vim
	url = https://github.com/StanAngeloff/php.vim
